src/main/xsd/popolarita_sedi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="sede">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element maxOccurs="unbounded" name="periodo">
                <xs:complexType>
                  <xs:attribute name="mese" type="xs:string" use="required" />
                  <xs:attribute name="n_tessere_create" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="nome" type="xs:string" use="required" />
            <xs:attribute name="indirizzo" type="xs:string" use="required" />
            <xs:attribute name="n_tot_di_tessere_create" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
